@use "./variables.scss" as *;

// put your custom CSS here!
/* Replace the Quartz credit with a copyright notice */
footer > p {
  display: block !important;
  font-size: 0;
}

footer > p::after {
  content: "Copyright 2026 LowFrameMC. All Rights Reserved.";
  font-size: 0.9rem;
  color: var(--gray);
}
